<!-- 
################################################################################
#                                                                              #
#                       Http server configuration                              #
#                                                                              #
################################################################################     
-->
<server-config>
    <server-opts>
    	<port>8443</port>
        <client-auth>REQUIRED</client-auth>
    </server-opts>
    <tcp-opts>
        <ssl>true</ssl>
    </tcp-opts>
    
    <cross-origin>
        <allowed-headers>
            <allowed-header>Access-Control-Allow-Origin</allowed-header>
            <allowed-header>Access-Control-Allow-Headers</allowed-header>
            <allowed-header>Content-Type</allowed-header>
            <allowed-header>Accept</allowed-header>
            <allowed-header>User-Agent</allowed-header>
        </allowed-headers>
            
        <allowed-methods>
            <allowed-method>HEAD</allowed-method>
            <allowed-method>OPTIONS</allowed-method>
            <allowed-method>CONNECT</allowed-method>
            <allowed-method>GET</allowed-method>
            <allowed-method>POST</allowed-method>
            <allowed-method>PUT</allowed-method>
            <allowed-method>PATCH</allowed-method>
            <allowed-method>DELETE</allowed-method>
        </allowed-methods>
    </cross-origin>
    
    <keystore-config>
        <!--
            pem-key-config provides your own certificate (your identity to prove who you are)
            
            1. PemKeyCertOptions (Your Identity) - This option is used when you need to prove who you are to the other side of the connection.
            
            • Whose certificate is it?
                It is your own public certificate, and it must be paired with your own private key.
            • Server Use Case: 
                When you build an HTTPS server, it is the certificate that browsers check to see if your website is legitimate 
                (e.g., your domain’s Let's Encrypt certificate).
            • Client Use Case (mTLS): 
                In Mutual TLS (mTLS), the server demands to know who the client is. The client uses PemKeyCertOptions to
                present its own certificate to the server.
        -->
        <!--
            Example:
            
            // 1. Configure the key and certificate options
            PemKeyCertOptions pemOptions = new PemKeyCertOptions()
                .setKeyPath("server_cert/hearth-app.key")           // Unencrypted PKCS8/PKCS1 format
                .setCertPath("server_cert/hearth-app.crt");         // X.509 format

            // 2. Apply to HTTP Server Options
            HttpServerOptions serverOptions = new HttpServerOptions()
                .setSsl(true) // Enable SSL/TLS
                .setPemKeyCertOptions(pemOptions);

            // 3. Instantiate and start listening
            vertx.createHttpServer(serverOptions)
                .requestHandler(req -> req.response().end("Hello Secure World!"))
                .listen(8443, res -> {
                    if (res.succeeded()) {
                        System.out.println("Secure server running on port 8443");
                    } else {
                        System.err.println("Failed to start server: " + res.cause().getMessage());
                    }
                });
        -->
        <pem-key-config>
            <bundle-path>store/hearth-app.pem</bundle-path>
        </pem-key-config>
        
        <!--
            This is a separate keystore that holds the private-public key pair for signing and verifying the server issued JWT token.
        -->
        <store-name>store/hearth.pkcs</store-name>
        <store-password>secret</store-password>
    </keystore-config>
    
    <truststore-config>
        <!--
            2. PemTrustOptions (Your Trust List) - This option is used when you need to verify who the other side is.
            
            • Whose certificate is it? 
                It belongs to Trusted Certificate Authorities (CAs) (like DigiCert, Let's Encrypt) or specific public
                certificates of servers you expect to talk to. It never contains a private key.
            • Client Use Case:
                When your Vert.x application acts as a client calling a third-party secure API, it checks the server’s 
                certificate against the CAs inside PemTrustOptions to ensure it isn’t talking to a malicious impersonator.
            • Server Use Case (mTLS):
                In mTLS, the server uses PemTrustOptions to hold the CA certificates that are allowed to sign client 
                certificates. If a client connects with a certificate not signed by a CA in this list, the server rejects them.
        -->
        <pem-cert-config>
            <cert-path>store/ca_javalabs.crt</cert-path>
        </pem-cert-config>
    </truststore-config>
    
    <context-root>/api/v1</context-root>
    
    <security-constraint>
        <auth-handler>org.javalabs.decl.vertx.container.handler.AuthorizationHandler</auth-handler>
        <jwt-opts>
            <issuer>hearth</issuer>
            <audience>hearth-ui</audience>
            <expiry>18000</expiry> <!-- in minutes -->
        </jwt-opts>
        
        <!-- 
            NO_AUTH is a special tag, which indicates no authentication will be
            performed for the below set of url pattern(s).
        -->
        <auth-constraint>
            <auth-type>NO_AUTH</auth-type>
            <url-patterns>
                <!-- Adding CTX_ROOT will prepend the value from the context-root tag -->
                <url-pattern>{CTX_ROOT}/mgmt/</url-pattern>
            </url-patterns>
        </auth-constraint>
    </security-constraint>
    
    <!-- The vert.x routing configuration file for the http server -->
    <routing-config>routing-config.xml</routing-config>
</server-config>