<!-- 
################################################################################
#                                                                              #
#                       Http server configuration                              #
#                                                                              #
################################################################################     
-->
<server-config>
    <server-opts>
    	<port>8443</port>
        <client-auth>REQUIRED</client-auth>
    </server-opts>
    <tcp-opts>
        <ssl>true</ssl>
    </tcp-opts>
    
    <cross-origin>
        <allowed-headers>
            <allowed-header>Access-Control-Allow-Origin</allowed-header>
            <allowed-header>Access-Control-Allow-Headers</allowed-header>
            <allowed-header>Content-Type</allowed-header>
            <allowed-header>Accept</allowed-header>
            <allowed-header>User-Agent</allowed-header>
        </allowed-headers>
            
        <allowed-methods>
            <allowed-method>HEAD</allowed-method>
            <allowed-method>OPTIONS</allowed-method>
            <allowed-method>CONNECT</allowed-method>
            <allowed-method>GET</allowed-method>
            <allowed-method>POST</allowed-method>
            <allowed-method>PUT</allowed-method>
            <allowed-method>PATCH</allowed-method>
            <allowed-method>DELETE</allowed-method>
        </allowed-methods>
    </cross-origin>
    
    <keystore-config>
        <pem-key-config>
            <key-path>server_cert/hearth-app.key</key-path>
            <cert-path>server_cert/hearth-app.crt</cert-path>
        </pem-key-config>
        
        <store-name>hearth.pkcs</store-name>
        <store-password>secret</store-password>
    </keystore-config>
    
    <truststore-config>
        <pem-cert-config>
            <cert-path>ca/ca_javalabs.crt</cert-path>
        </pem-cert-config>
    </truststore-config>
    
    <context-root>/api/v1</context-root>
    
    <security-constraint>
        <auth-handler>org.javalabs.decl.vertx.container.handler.AuthorizationHandler</auth-handler>
        <jwt-opts>
            <issuer>hearth</issuer>
            <audience>hearth-ui</audience>
            <expiry>18000</expiry> <!-- in minutes -->
        </jwt-opts>
        
        <!-- 
            NO_AUTH is a special tag, which indicates no authentication will be
            performed for the below set of url pattern(s).
        -->
        <auth-constraint>
            <auth-type>NO_AUTH</auth-type>
            <url-patterns>
                <!-- Adding CTX_ROOT will prepend the value from the context-root tag -->
                <url-pattern>{CTX_ROOT}/mgmt/</url-pattern>
            </url-patterns>
        </auth-constraint>
    </security-constraint>
    
    <!-- The vert.x routing configuration file for the http server -->
    <routing-config>routing-config.xml</routing-config>
</server-config>